* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

.bg-grey {
    background-color: #DAD9DB;
}

.header {
    height: 100vh;
    background-image: url(../../src/img/1.jpg);
    background-size: cover;
}

.navigation {
    width: 100%;
    height: 6rem;
    padding: 0 10rem;
    background-color: #e97645;
    color: #fff;
    letter-spacing: .3rem;
    font-family: Montserrat, sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-box {
        font-size: 2.2rem;
    }

    &__list {
        font-size: 1.4rem;
        list-style: none;

        display: flex;
    }

    &__link {
        &:link, 
        &:visited {
            text-decoration: none;
            color: #fff; 
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

}

.flex-container {
    display: flex;
    flex-direction: row;
}

.section-offer, .section-clients {
    font-family: 'Open Sans', sans-serif;
    color: grey;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        padding: 5%;
        min-height: 50vh;
    }

    &__list {
        list-style: square;
        line-height: 3.5rem;
        font-size: 1.7rem;
    }
}

.offer__photo-box {
    display: flex;
    justify-content: center;
    
}

.offer__photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    width: 70%;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .3);
    border-radius: 5px;

}

.heading-secondary {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 600; 
}


.section-clients-heading {
    height: 8rem;
    margin: 3%;
    padding-top: 2%;

}
.heading-section-clients, .paragraph {
    text-align: center;
}

.paragraph {
    font-size: 1.6rem;
}

.grid-container {
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(15rem, min-content));
    grid-gap: 10rem;
    padding: 5%;

    & > * {
        box-shadow: 0 1.5rem 4rem rgba(0,0,0, .3); 
    }
}

.section-client__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8%;
    
}
.heading-tertiary {
    text-transform: uppercase;
    font-size: 2.1rem;
    color: #e97645; 
    margin-bottom: 2rem; 
}

.section-client__list {
    font-size: 1.6rem; 
    text-align: center;
    list-style-type: none;
    align-self: center;
}

